* {
    margin: 0;
    padding: 0;
}

/* ---------NAV---------- */

.navegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(249, 225, 197);
}

.navegacion img {
    height: 100px;
}

.navegacion ul {
    list-style: none;
    display: flex;
    width: 300px;
    justify-content: center;
}

.navegacion ul li {
    margin: 0 10px;
    height: 20px;
}

.navegacion ul li a {
    text-decoration: none;
    color: black;
}

/* ---------MAIN------------- */

.texto-principal {
    background-color: beige;
    font-size: 20px;
    text-align: center;
}

.texto-secundario {
    text-align: center;
}

/* .imagenes-gatos{
    align-items: center;
} */


/* Estilos seccion1 */
.seccion1 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "imagenes-gato-1"
    "imagenes-gato-2"
    "imagenes-perro-1"
    "imagenes-perro-2"
    "imagenes-tortuga-1"
    "imagenes-tortuga-2";
    /* grid-template-areas:
    /* "imagenes-gato-1 imagenes-gato-2"
    "imagenes-perro-1 imagenes-perro-2"
    "imagenes-tortuga-1 imagenes-tortuga-2"; */
}

.imagenes-perro-1 {
    grid-area: imagenes-perro-1;
}

.imagenes-perro-2 {
    grid-area: imagenes-perro-2;
}

.imagenes-gato-1 {
    grid-area: imagenes-gato-1;
}

.imagenes-gato-2 {
    grid-area: imagenes-gato-2;
}

.imagenes-tortuga-1 {
    grid-area: imagenes-tortuga-1;
}

.imagenes-tortuga-2 {
    grid-area: imagenes-tortuga-2;
}

.imagenes-gato-1 img{
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
    align-content: center;
}


.imagenes-gato-2 img {
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
}

.imagenes-perro-1 img {
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
}

.imagenes-perro-2 img {
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
}

.imagenes-tortuga-1 img {
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
}

.imagenes-tortuga-2 img {
    display: flex;
    margin: 10px;
    width: 350px;
    height: 250px;
    padding: 10px;
}



/* Estrategia Responsive = Mobile First */
@media(min-width: 671px) {
    .seccion1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "imagenes-gato-1 imagenes-gato-2"
            "imagenes-perro-1 imagenes-perro-2"
            "imagenes-tortuga-1 imagenes-tortuga-2";
    }
}